{
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"singleQuote": true,
	"trailingComma": "all",
	"arrowParens": "always",
	"printWidth": 80,
	"semi": false,
	"endOfLine": "crlf",
	"useTabs": true,
	"overrides": [
		{
			"files": ["*.yml"],
			"options": {
				"singleQuote": false
			}
		}
	]
}
